<div class="index-page">
  <h2>Listed Items</h2>
  <h4><%= @total_items %> items in Database</h4>
  <%= link_to '<i class="add circle icon"></i>New Item'.html_safe, new_item_path, class: 'new-link' %>
  <table id="index" class="ui table">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Type</th>
        <th>Owner</th>
        <th>Description</th>
        <th>Avalible to Borrow</th>
        <th>Options</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tr>
      <td><%= has_image?(item) %></td>
      <td><%= item.name %></td>
      <td><%= item.item_type %></td>
      <td><%= item.user.username %></td>
      <td><%= item.item_description %></td>
      <td><%= link_to 'Request Loan', new_item_loan_path(id: item.id) %></td>
      <td>

        <%= link_to 'Show', item_path(item), class: 'ui primary basic button'%>
      </td>
    </tr>
    <% end %>
    <tfoot>
      <tr>
        <th colspan="7">
          <%= will_paginate @items, renderer: WillPaginateSemanticUi::ActionView::Renderer, class: 'right floated', inner_window: '1', outer_window: '0' %>
        </th>
      </tr>
    </tfoot>
  </table>

</div>
